.login-form-holder {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}

.login-form-holder .login-holder-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-form-holder .login-form {
    box-sizing: border-box;
    position: absolute;
    width: 800px;
    max-width: 96%;
    top: 50%;
    left: 50%;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #FFF;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
	line-height: 24px;
	color: #1B1B1B;
}

.login-form .login-form-holder-close {
	text-align: right;
	margin-bottom: 10px;
}

.popup-login,
.popup-registration {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}

.popup-registration {
    padding-left: 20px;
}

.popup-login {
    padding-right: 20px;
    border-right: 1px dashed #999;
}

.popup-login .login-container > .block.block-customer-login {
    clear: none;
    float: none; width: 100%;
}

.login-form .form-login .actions-toolbar {
	margin-top: 25px;
}

.popup-registration .form.create.account {
    min-width: 0; width: 100%;
}

.login-form .fieldset legend,
.login-form .login-container .block .block-title {
	margin-bottom: 0px;
	border-bottom: none;
}

.login-form .fieldset legend {
    padding-bottom: 16px;
}

.login-form .login-container .fieldset:after {
    margin-top: 20px;
}

.login-form .actions-toolbar .secondary a.action {
	margin-top: 10px;
}

.login-form .fieldset.create {
	margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .popup-login,
    .popup-registration {
        display: block;
        width: 100%;
    }

    .popup-registration {
        padding-left: 0px;
    }

    .popup-login {
        padding-right: 0px;
        border-right: none;
        margin-bottom: 30px;
    }

    .login-form-holder .login-form {
        max-height: 96vh;
        overflow-y: scroll;
    }

    .login-form .login-form-holder-close {
        margin-bottom: 0px;
    }
}
