<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
        	id="Webfitters_Pdf::webfitters_pdf" 
        	title="Unique PDF's" 
        	module="Webfitters_Pdf" 
        	sortOrder="9999" 
        	parent="Magento_Backend::content_elements" 
        	resource="Magento_Backend::content" action="pdf/pdf/index" 
        />
    </menu>
</config>