<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_modify_pricing" instance="Webfitters\Checkout\Observer\Shipment\Save" />
    </event>
    <event name="checkout_submit_all_after">
       <observer name="set_uses_container_fee" instance="Webfitters\Checkout\Observer\SaveUsesContainer" />
    </event>
</config>