<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webfitters" translate="label" sortOrder="500">
            <label>Webfitters</label>
        </tab>
        <section id="webfitters_shipping" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shipping</label>
            <tab>webfitters</tab>
            <resource>Webfitters_Shipping::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Additional Weights</label>
                <field id="one_day_weight" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>One Day Weight</label>
                    <comment>Additional weight for orders received within one day.</comment>
                </field>
                <field id="two_day_weight" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Two Day Weight</label>
                    <comment>Additional weight for orders received within two days.</comment>
                </field>
                <field id="three_day_weight" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Three Day Weight</label>
                    <comment>Additional weight for orders received within three days.</comment>
                </field>
                <field id="four_day_weight" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Four Day Weight</label>
                    <comment>Additional weight for orders received within four days.</comment>
                </field>
            </group>
        </section>
    </system>
</config>